**/target/
**/*.class
**/.idea/
**/*.iml
**/logs/
**/.settings/
**/.classpath
**/.project
social-desktop/src/main/resources/view/search/
social-desktop/src/main/resources/view/settings/
social-desktop/src/main/java/com/minisocial/desktop/view/search/
social-desktop/src/main/java/com/minisocial/desktop/view/settings/
