server:
  port: 9090

spring:
  application:
    name: social

  datasource:
    url: jdbc:mysql://localhost:3306/social
    username: root
    password: 123456

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true